.slider-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider-container__slide{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: fit-content; 
}

.slider-container__slide__dots{
    position: absolute;
    bottom: 3.5em;
    left: 50%;
    transform: translate(-50%,0)
}

.slider-container__slide__dots__dot{
    box-sizing:content-box;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1.5em;
}

.arrow {
    border-right: 2px solid; 
    border-bottom: 2px solid;
    height: 30px;
    width: 30px;
    z-index: 999;
    color: white;
    cursor: pointer;
}

.left {
    position: absolute;
    left: 2em;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(135deg);
}

.right {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

.slider-container__toggle{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #333241;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider-container__toggle p{
    margin: 0;
    color: #FCFDFF;
}

a:link {
    text-decoration: none;
  }
